@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-primary font-primary leading-loose text-white;
  }

  #projects,
  #skills {
    @apply flex min-h-[calc(100vh-5rem)] flex-col items-center pt-24;
  }

  #about h1,
  #experience h1,
  #education h1,
  #projects h1,
  #skills h1,
  #contact h1 {
    @apply relative text-xl font-semibold text-accent after:absolute after:bottom-0 after:left-0 after:h-1 after:w-full after:bg-accent after:content-[''] lg:text-3xl;
  }
}

@layer utilities {
  .loader {
    @apply animate-spin-half aspect-square w-[50px];
    --_c: no-repeat radial-gradient(farthest-side, #00ff99 92%, #0000);
    background:
      var(--_c) top,
      var(--_c) left,
      var(--_c) right,
      var(--_c) bottom;
    background-size: 12px 12px;
  }

  @keyframes spin-half {
    to {
      transform: rotate(0.5turn);
    }
  }

  .animate-spin-half {
    animation: spin-half 1s infinite;
  }
}
